/*h1{
    background-color: burlywood;
}
h2{
    background-color: aquamarine;
    color: crimson;
}
h3{
    background-color: chartreuse;
}
Button{
    background-color: rgb(101, 172, 235);
    color :rgb(241, 40, 151)
}
div{
    background-color:rgb(127, 240, 213);
}
    */
